body {
 
text-align: left;
 
font-family: "Inconsolata", monospace;
  
color:black;
  
font-size: 16px;
  
line-height: 1.7; 
}
.box {
width:500px;
}
.text {
white-space:pre;
text-align:left;
margin-left:-43%;
}

h1 {
color:green;
}

p{
color:blue;
}